<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Btl_nhom1"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".app.presentation.pages.search.SearchActivity"
            android:theme="@style/TransparentActivity"
            android:exported="false" />
        <activity
            android:name=".app.presentation.pages.containers.ContainerActivity"
            android:exported="false" />
        <activity
            android:name=".app.presentation.pages.details.ProductDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".app.presentation.pages.home.CommingSoonActivity"
            android:exported="false" />
        <activity
            android:name=".app.presentation.pages.login.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".app.presentation.pages.cart.CartActivity"
            android:exported="false" />
        <activity
            android:name=".app.presentation.pages.home.HomePageActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>